/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:ital,wght@0,500;0,700;1,300&display=swap');
* {
  font-family: "Montserrat", system-ui, sans-serif;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Fraunces", serif;
}

.sub-heading {
  letter-spacing: .25rem;
}